<div class="skills">
    <div class="intro">
        <h1>Skills</h1>
        <p>During my time at university, I learned a variety of tools, algorithms, and concepts to prepare for 
            a career in tech. Additionally, through self-learning and research, I have expanded my knowledge and 
            honed my skills. Here are some of the key technical skills I have developed over the years.
        </p>
    </div>

    <div class="languages">
        <h2>Programming Languages</h2>
        <div class="rows">
            <div class="programming-icons">
                <i class="devicon-html5-plain"></i>
                <p>HTML</p>
            </div>
    
            <div class="programming-icons">
                <i class="devicon-css3-plain"></i>
                <p>CSS</p>
            </div>

            <div class="programming-icons">
                <i class="devicon-javascript-plain"></i>
                <p>Javascript</p>
            </div>

            <div class="programming-icons">
                <i class="devicon-cplusplus-plain"></i>
                <p>C++</p>
            </div>

            <div class="programming-icons">
                <i class="devicon-python-plain"></i>
                <p>Python</p>
            </div>

            <div class="programming-icons">
                <i class="devicon-azuresqldatabase-plain"></i>
                <p>SQL</p>
            </div>
        </div>
    </div>

    <div class="tools">
        <div class="left">
            <h2>Frameworks and Libraries</h2>
            <div class="row">
                <div class="framework-icons">
                    <i class="devicon-react-original"></i>
                    <p>React</p>
                </div>

                <div class="framework-icons">
                    <i class="devicon-django-plain"></i>
                    <p>Djano</p>
                </div>

                <div class="framework-icons">
                    <i class="devicon-angular-plain"></i>
                    <p>Angular</p>
                </div>

                <div class="framework-icons">
                    <i class="devicon-opengl-plain"></i>
                    <p>OpenGL</p>
                </div>  
            </div>
        </div>

        <div class="right">
            <h2>Other tools and tech</h2>
            <div class="row">
                <div class="tech-icons">
                    <i class="devicon-linux-plain"></i>
                    <p>Linux</p>
                </div>

                <div class="tech-icons">
                    <i class="devicon-docker-plain"></i>
                    <p>Docker</p>
                </div>

                <div class="tech-icons">
                    <i class="devicon-github-original"></i>
                    <p>Github</p>
                </div>

                <div class="tech-icons">
                    <i class="devicon-json-plain"></i>
                    <p>JSON</p>
                </div>  
            </div>
        </div>
    </div>

    <div class="soft">
        <h2>Soft Skills</h2>
        <div class="bullet-points">
            <ul>
                <li>Communication</li>
                <li>Teamwork</li>
                <li>Problem-Solving</li>
                <li>Time Management</li>
                <li>Adaptability</li>
                <li>Critical Thinking</li>
                <li>Creativity</li>
                <li>Attention to Detail</li>
                <li>Leadership</li>
                <li>Conflict Resolution</li>
                <li>Customer Focus</li>
            </ul>
        </div>
    </div>
</div>
