<div class="about">
    <div class="intro">
        <div class="overlay"></div>
        <div class="left">
            <img src="assets/images/IMG_1654.jpg" alt="Description of the image">
        </div>
    
        <div class="right">
            <h1> About Me </h1>
            <p>My name is Reggie Fisher and I am from Birmingham, Alabama. I am a passionate and driven individual with a deep-rooted
                love for technology and coding. I graduated from the University of Alabama with a Bachelor's degree in computer science.
                During my time in university, I learned many different tech stacks and tools causing me to want a career within 
                software engineering. I am excited for the oppoutunities that lie ahead, and look forward to starting my career within 
                the tech industry!
            </p>
        </div>
    </div>

    <div class="hobbies">
        <h1>Hobbies</h1>
        <div class="content-creator">
            <div class="left">
                <h2>Content Creation</h2>
                <p>I enjoy content creating and making people laugh through the use of my social media platforms. With the use of my 
                    creativity, I have been able to accumlate 2+ million followers on TikTok and over 50k followers on instagram. I 
                    have worked with some of the biggest brands in the country such as Netflix, DICK's Sporting Goods, the NBA, and many more.
                </p>
            </div>
            <div class="right">
                <div class="pics">
                    <img src="assets/images/IMG_7753.PNG" alt="Description of the image">
                    <img src="assets/images/IMG_5398.PNG" alt="Description of the image">
                    <img src="assets/images/IMG_5400.PNG" alt="Description of the image">
                </div>
            </div>
        </div>

        <div class="sports">
            <div class="left">
                <div class="pics">
                    <img src="assets/images/IMG_0151.JPG" alt="Description of the image">
                    <img src="assets/images/IMG_5401.JPG" alt="Description of the image">
                </div>
            </div>

            <div class="right">
                <h2>Physical Activities</h2>
                <p>I love staying active and engaging in physical activites. Usually my physical activity invloves me playing
                    a sport or lifting weights throughout the week. 
                </p>
            </div>
        </div>

        <div class="trivia">
            <div class="left">
                <h2>Trivia</h2>
                <p>Doing trivia is a fun leisure time for me. Testing my knowledge and learning new things always sparks my interest,
                   and it keeps me in the mindset of continuing to learn. I am planning to build a trivia game app soon in the future 
                   so stay tuned!
                </p>
            </div>

            <div class="right">
                <div class="pics">
                    <img src="assets/images/trivia-time.jpg" alt="Description of the image">
                    <img src="assets/images/brain-bulb.png" alt="Description of the image">
                </div>
            </div>
        </div>
    </div>
</div>
