<div class="about">
    <div class="intro">
        <div class="overlay"></div>
        <div class="left">
            <img src="assets/images/IMG_1654.jpg" alt="Description of the image">
        </div>
    
        <div class="right">
            <h1> About Me </h1>
            <p>My name is Reggie Fisher and I am from Birmingham, Alabama. I am a passionate and driven individual with a deep-rooted
                love for technology and coding. I graduated from the University of Alabama with a Bachelor's degree in computer science.
                During my time in university, I learned many different tech stacks and tools causing me to want a career within 
                software engineering. I am excited for the oppoutunities that lie ahead, and look forward to starting my career within 
                the tech industry!
            </p>
        </div>
    </div>

    <div class="hobbies">
        <h1>Hobbies</h1>
    </div>
</div>
