<div class="home">
    <app-header></app-header>

    <div class="info">
        <div class="left">
            <div class="greeting">
                <p>Hi there,</p>
                <h1>I'm Reggie!</h1>
                <p>and welcome to my portfolio!</p>
            </div>
            <div class="links">
                <i class="fab fa-facebook"></i>


                <a href="https://www.linkedin.com/in/reggie-fisher-410520256/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin"></i>
                </a>

                <a href="https://www.instagram.com/reg.fisher15/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="https://www.tiktok.com/@reggiefisher15?lang=en" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-tiktok"></i>
                </a>

                <a href="https://github.com/regfisher15" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i>
                </a>
            </div>

            <div class="floor"></div>
        </div>
    
        <div class="right">
            <img src="assets/images/IMG_1674.jpg" alt="Description of the image">
        </div>

        <div class="people">
            <fa-icon class="person-running" [icon]="faPersonRunning"></fa-icon>
            <fa-icon class="person-falling" [icon]="faPersonFalling"></fa-icon>
            <fa-icon class="person-hiking" [icon]="faPersonHiking"></fa-icon>
            <fa-icon class="person-biking" [icon]="faPersonBiking"></fa-icon>
            <fa-icon class="person-swimming" [icon]="faPersonSwimming"></fa-icon>
        </div>
    </div>
</div>

