* {
    padding: 0;
    margin: 0;
}

.info {
    display: flex;
    justify-content: space-between;
}

.left {
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 650px;
}

.greeting {
    background-color: green;
    width: 450px;
    height: 200px;
    margin-top: 100px;
}

.right {
    background-color: red;
    width: 50%;
    height: 650px;
}