* {
    margin: 0;
    padding: 0;
}

.projects {
    background-color: rgb(0, 204, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tv-tracker {
    width: 100%;
    height: 350px;
    display: flex;
}

.tv-tracker .left{
    /*background-color: blue;*/
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tv-tracker .left p {
    font-size: 20px;
    width: 400px;
}

.tv-tracker .right {
    width: 50%;
    height: 350px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

#tv-scroll-left {
    position: absolute;
    font-size: 35px;
    left: 700px;
}

#tv-scroll-right {
    position: absolute;
    font-size: 35px;
    right: 20px;
}

#tv-scroll-left:hover {
    scale: 1.2;
}

#tv-scroll-right:hover {
    scale: 1.2;
}

.tv-tracker .right .scrollable-row {
   /* background-color: red;*/
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
}

.tv-tracker .right .scrollable-row img {
    width: 690px;
    height: auto;
    margin-right: 78px;
}

.scrollable-row::-webkit-scrollbar {
    display: none;
  }

/*Spotify ***********************************************************************/
.spotify-react {
    background-color: rgb(204, 59, 204);
    width: 100%;
    height: 350px;
    display: flex;
}

.spotify-react .left{
    /*background-color: blue;*/
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spotify-react .left p {
    font-size: 20px;
    width: 400px;
}

.spotify-react .right {
    width: 50%;
    height: 350px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

#spotify-scroll-left {
    position: absolute;
    font-size: 35px;
    left: 700px;
}

#spotify-scroll-right {
    position: absolute;
    font-size: 35px;
    right: 20px;
}

#spotify-scroll-left:hover {
    scale: 1.2;
}

#spotify-scroll-right:hover {
    scale: 1.2;
}

.spotify-react .right .spotify-scrollable-row {
   /* background-color: red;*/
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
}

.spotify-react .right .spotify-scrollable-row img {
    width: 690px;
    height: auto;
    margin-right: 78px;
}

.spotify-scrollable-row::-webkit-scrollbar {
    display: none;
}

/*Computer graphics ***********************************************************************/
.computer-graphics {
    background-color: rgb(0, 204, 255);
    width: 100%;
    height: 350px;
    display: flex;
}

.computer-graphics .left{
    /*background-color: blue;*/
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.computer-graphics .left p {
    font-size: 20px;
    width: 400px;
}

.computer-graphics .right {
    width: 50%;
    height: 350px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

#graphics-scroll-left {
    position: absolute;
    font-size: 35px;
    left: 700px;
}

#graphics-scroll-right {
    position: absolute;
    font-size: 35px;
    right: 20px;
}

#graphics-scroll-left:hover {
    scale: 1.2;
}

#graphics-scroll-right:hover {
    scale: 1.2;
}

.computer-graphics .right .graphics-scrollable-row {
   /* background-color: red;*/
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
}

.computer-graphics .right .graphics-scrollable-row img {
    width: 690px;
    height: auto;
    margin-right: 78px;
}

.graphics-scrollable-row::-webkit-scrollbar {
    display: none;
  }

/*Extra work*/
.extra {
    background-color:rgb(204, 59, 204);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.extra p {
    font-size: 25px;
    width: 50%;
}