<div class="projects">
    <h1>Projects</h1>

    <div class="tv-tracker">
        <div class="left">
            <h2>TV Tracker Website</h2>
            <p>This website tracks and recommends tv shows and programs for a user. It allows you to create an 
                account and add shows to your profile through the use of icons. This was a capstone project I did 
                with a couple of my classmates, and it taught me a lot about web development and deployment! I did 
                all of the fronend work and a little bit of python in the backend to make our icon buttons work. (Django)
            </p>
        </div>

        <div class="right">
            <div class="tv-scroll-buttons">
                <i id="tv-scroll-left" class="fa-solid fa-circle-arrow-left" (click)="scrollLeft()"></i>
                <i id="tv-scroll-right" class="fa-solid fa-circle-arrow-right" (click)="scrollRight()"></i>
            </div>

            <div class="scrollable-row" #scrollableRow>
                <img src="assets/images/tv-tracker1.png" alt="TV">
                <img src="assets/images/tv-tracker2.png" alt="TV">
                <img src="assets/images/tv-tracker3.png" alt="TV">
                <img src="assets/images/tv-tracker4.png" alt="TV">
            </div>
        </div>
    </div>

    <div class="spotify-react">
        <div class="left">
            <h2>Spotify Website</h2>
            <p>This website allows a user to log into their spotify account and see their top content on their profile. The content can be 
                seen through 3 different time ranges (short term, medium term, and long term). Tracks are recommended to users, and users can 
                also discover new music by looking through different artists. Throughout this project I got pretty comfortable with APIs and
                React became my favorite framework. (React)
            </p>
        </div>

        <div class="right">
            <div class="spotify-scroll-buttons">
                <i id="spotify-scroll-left" class="fa-solid fa-circle-arrow-left" (click)="spotifyScrollLeft()"></i>
                <i id="spotify-scroll-right" class="fa-solid fa-circle-arrow-right" (click)="spotifyScrollRight()"></i>
            </div>

            <div class="spotify-scrollable-row" #spotifyScrollableRow>
                <img src="assets/images/spotify1.png" alt="spotify">
                <img src="assets/images/spotify2.png" alt="spotify">
                <img src="assets/images/spotify3.png" alt="spotify">
                <img src="assets/images/spotify4.png" alt="spotify">
            </div>
        </div>
    </div>

    <div class="computer-graphics">
        <div class="left">
            <h2>Computer Graphics</h2>
            <p>This is a collection of 7 computer graphic projects created in webgl. The creation of these 2D and 3D
                programs taught me a lot about javascript and made me want to become a software engineer! (Webgl)
            </p>
        </div>

        <div class="right">
            <div class="graphics-scroll-buttons">
                <i id="graphics-scroll-left" class="fa-solid fa-circle-arrow-left" (click)="graphicsScrollLeft()"></i>
                <i id="graphics-scroll-right" class="fa-solid fa-circle-arrow-right" (click)="graphicsScrollRight()"></i>
            </div>

            <div class="graphics-scrollable-row" #graphicsScrollableRow>
                <img src="assets/images/webgl1.png" alt="graphics">
                <img src="assets/images/webgl2.png" alt="graphics">
                <img src="assets/images/webgl3.png" alt="graphics">
                <img src="assets/images/webgl4.png" alt="graphics">
                <img src="assets/images/webgl5.png" alt="graphics">
                <img src="assets/images/webgl6.png" alt="graphics">
                <img src="assets/images/webgl7.png" alt="graphics">
            </div>
        </div>
    </div>

    <div class="extra">
        <h2>Other</h2>
        <p>I also created a lox interpreter in c++ and obviously this website you are seeing now! (which was made using angular).
            To see all of these projects yourself, just head over to my github which is linked in the home page. 
        </p>
    </div>
</div>
